# LP-specific overrides
# RLN endpoint on Regtest
RLN_BASE_URL=https://node-api.thunderstack.org/c17bc5d0-80b1-7050-5af5-dfd8a67834f1/baf6b01925694670ad005d27d8b6248f
RLN_API_KEY=EnYKDBgDIggKBggGEgIYDRIkCAASIHKI5x8XISvkqX7uz5fkx5n4AOXrBWtkpqaYREBAefLnGkDRq_ISWhFwa4XsPshdT9a8TsSOM-loyvkOdHHh47lb0EWfPd9tH_5NBBpfdeaS4hrmD6LPfpKRTBHDjlQThlMHIiIKIFjwUhtuO4bEXIppE98ryaFIDcoOYA6_A0rwaaWEQvCq

# RLN endpoint on Signet
RLN_BASE_URL_L1=https://node-api.thunderstack.org/c17bc5d0-80b1-7050-5af5-dfd8a67834f1/ce2a7d3e2c944b7c8e939113afd18729
RLN_API_KEY_L1=EnYKDBgDIggKBggGEgIYDRIkCAASIExCvp3oQem0TuyqspnSnPT3bK4YY3Am3tbmcCmvje8mGkCpsBfaX5XCcpLwciTDBIbguC21j-0s99QwSFIhLXNipWebAH_Xe7rYkt0SJyYG3AUGX3MIlwhqyReCFWhz6-cEIiIKIFFVdiNAC_ojSf_NPv61UAi9oFu6n276eDGkODORWqwO

# Wallet (local)
WIF=cMm7emV4whufzPAops6fnPuZF97ZKZfS83MAYR6qoBVTsa7BQGvV

# Comms
USER_COMM_URL=http://localhost:9999
